<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="practica1_quiz.quiz">
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <<
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:configChanges="orientation"
        android:screenOrientation="portrait">

        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Juego_Basico"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Juego_Radio"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Juego"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Final"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Juego_Imagen"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".Juego_Lista"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".Juego_Imagenes"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".CrearUsuario"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".ListaUsuarios"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ajustes"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".HacerFoto"
            android:label="MainActivity"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>
    </application>
</manifest>